body{
    margin: 0%;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #13135c;
    color: #ffffff;
}

section{
    
    width: 50vw;
    height: 15vh;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #ffffff79;
    text-align: center;
}
img{
    margin-top: 0%;
    width: 12%;
}
footer{
    width: 50.1vw;
    background-color: #000000;
    color: #ffffff;
}

h1{
    background-color: #000000;
}
div{
    padding: 2%;
}